<next-page [service]="isDaily" (resource)="onNewMemes($event)" [page]=2 [filter]=this.filter></next-page>
<div class="grid grid-cols-1 lg:grid-cols-[16rem_1fr] gap-0 min-h-screen">
    <div class="hidden lg:block h-full pt-35 pl-5 pr-2 z-10">
        <filters [isDaily]=true></filters>
    </div>

    <div class="pt-26 px-2 flex flex-col items-center">
        @for(meme of memes; track meme){
        <div class="bg-bg flex flex-col justify-center items-center mb-4 w-full max-w-3xl">
            <user-post [meme]=meme></user-post>
        </div>
        }@empty {
        <div class="inset-0 fixed w-full h-full flex justify-center items-center">
            <loading-screen></loading-screen>
        </div>

        }
    </div>
</div>