@use "tailwindcss";
@use 'ngx-toastr/toastr.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

.toast-error {
    background-color: #a62e28;
}

.toast-warning {
    background-color: #d09304;
}

@theme {
    --color-text: #121212;
    --color-bg: #fafafa;
    --color-primary: #7fe8df;
    --color-secondary: #80cbc4;
    --color-accent: #009382;
    --color-bgcontrast: #ebebeb;

}

.dark {
    --color-bgcontrast: #07050a;
    --color-text: #dfdfdf;
    --color-bg: #0d0b11;
    --color-primary: #6e47a9;
    --color-secondary: #2c184d;
    --color-accent: #b486fe;
}

@theme {
    --breakpoint-lg: 56rem;
    --breakpoint-md: 50rem;
    --breakpoint-sx: 38rem;

}

//link attivi
.active {
    @apply font-bold text-text border-none bg-secondary pr-3 pl-3 pt-1 pb-1 rounded-xl
}