<div (click)="toUserPost($event)" [ngClass]="{
    'hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-300': isCard
  }" class="p-4 m-2 rounded-2xl  cursor-pointer dark:text-gray-300 text-gray-800">


    <div class="flex flex-row items-center gap-3 pl-2 py-2">
        <div class="skeleton flex flex-row justify-center items-center gap-2">
            <div class="w-9 h-9 rounded-full bg-gray-400 animate-pulse"></div>
            <div class="w-40 h-5 rounded-full bg-gray-400 animate-pulse skeleton"></div>
        </div>

        <img (click)="goToUser($event)" (load)="stopLoading($event);"
            onload="this.nextElementSibling?.classList.remove('hidden')"
            class="w-9 h-9 object-cover rounded-full hidden" [src]="this.user.profilePic">
        <p (click)="goToUser($event)" class="text-text hidden">{{this.user.nickName}}</p>

        <div class="w-1.5 h-1.5 bg-gray-400/80 rounded-full mt-0.5"></div>
        <p class="text-text"> {{this.getTime()}} </p>
    </div>

    <div class="relative md:w-170 max-h-100 rounded-2xl bg-cover bg-center overflow-hidden"
        [ngStyle]="{'background-image': 'url(' + meme.image + ')'}" [ngClass]="{
            'md:w-190 max-h-120 ': !isCard
            }">

        <div class="absolute inset-0 backdrop-blur-2xl z-0"></div>


        <a class="relative flex flex-row justify-center items-center" [href]="meme.image">
            <div class="skeleton">

                <div class="relative md:w-150 w-screen h-100 rounded-2xl bg-gray-400 animate-pulse skeleton">
                </div>
            </div>
            <img (load)="stopLoading($event)" class="relative z-1 max-h-100 w-600 object-contain hidden"
                [src]="this.meme.image" />
        </a>

    </div>

    <div class="flex flex-wrap gap-3 pt-4">
        @for(tag of tags; track tag){
        <span class="inline-flex items-center px-2 py-1 text-sm font-medium text-text bg-primary rounded-full">
            {{tag.name}}
        </span>
        }
    </div>

    <div class="pt-4 pb-4 pl-1">
        <p class="text-text break-all md:w-[600px] max-h-100 w-full">
            {{this.meme.description}}
        </p>
    </div>

    <div class="flex flex-row items-center gap-5 w-full h-full ">
        <vote-bar [meme]=this.meme></vote-bar>

        <div class="flex flex-row items-center gap-2 bg-secondary/80 hover:bg-primary rounded-4xl pl-4 pr-4 pt-2 pb-1">
            <svg class="w-6 dark:text-white text-black " fill="currentColor" viewBox="0 0 32 32" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">


                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="Icon-Set" sketch:type="MSLayerGroup" transform="translate(-360.000000, -255.000000)"
                        class="dark:text-white text-black" fill="currentColor">
                        <path
                            d="M390,277 C390,278.463 388.473,280 387,280 L379,280 L376,284 L373,280 L365,280 C363.527,280 362,278.463 362,277 L362,260 C362,258.537 363.527,257 365,257 L387,257 C388.473,257 390,258.537 390,260 L390,277 L390,277 Z M386.667,255 L365.333,255 C362.388,255 360,257.371 360,260.297 L360,277.187 C360,280.111 362.055,282 365,282 L371.639,282 L376,287.001 L380.361,282 L387,282 C389.945,282 392,280.111 392,277.187 L392,260.297 C392,257.371 389.612,255 386.667,255 L386.667,255 Z"
                            id="comment-5" sketch:type="MSShapeGroup">

                        </path>
                    </g>
                </g>
            </svg>
            <p class="pb-1 text-text">{{this.comments.comment}}</p>
        </div>
        <div (click)="onShare($event)"
            class="flex flex-row items-center bg-secondary/80 hover:bg-primary rounded-4xl p-2">
            <svg class="w-6 dark:text-white text-black" viewBox="-0.5 0 25 25" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13.47 4.13998C12.74 4.35998 12.28 5.96 12.09 7.91C6.77997 7.91 2 13.4802 2 20.0802C4.19 14.0802 8.99995 12.45 12.14 12.45C12.34 14.21 12.79 15.6202 13.47 15.8202C15.57 16.4302 22 12.4401 22 9.98006C22 7.52006 15.57 3.52998 13.47 4.13998Z"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
</div>
@if(this.isCard){
<hr class="border-gray-800 dark:border-white/50 w-full">
}