<div class="w-full max-w-2xl mx-auto bg-bg text-text rounded-xl p-4 mb-2 border border-primary mt-5">
    <div class="flex items-start gap-3">

        <div class="flex-shrink-0">
            <img src="https://i.pravatar.cc/40" alt="avatar" class="w-10 h-10 rounded-full" />
        </div>

        <div class="flex-1">
            <div class="flex items-center justify-between">
                <h4 class="font-semibold text-sm text-text">johnDoe</h4>
                <span class="text-sm text-gray-400">2h fa</span>
            </div>
            <p class="text-md text-text mt-1">
                Questo è un esempio di commento. Bel post!
            </p>
        </div>
    </div>
</div>