<div class="w-full max-w-2xl mx-auto bg-bg text-text rounded-xl p-4 mb-2 border border-primary mt-5">
    <div class="flex flex-col">
        <div class="flex items-start gap-3">

            <div class="flex-shrink-0">
                <img [src]=this.comment_owner?.profilePic alt="avatar" class="w-10 h-10 rounded-full" />
            </div>

            <div class="flex-1">
                <div class="flex items-center justify-between">
                    <h4 class="font-semibold text-sm text-text">{{this.comment_owner?.nickName}}</h4>
                    <span class="text-sm text-gray-400">{{this.getTime()}}</span>
                </div>
                <p class="text-md text-text mt-1">
                    {{this.comment.content}}
                </p>
            </div>
        </div>
        <div class="flex flex-row justify-between pt-3.5">


            <vote-bar class="" [comment]=this.comment></vote-bar>
        </div>
    </div>
</div>