<div class="bg-bgcontrast w-full m-0 fixed top-0 z-30 font-semibold">
    <div class="shadow dark:shadow-white shadow-black">
        <div class="px-6">
            <div class="flex items-center justify-between py-4">

                <div class="hidden md:flex md:items-center gap-4">

                    <div (click)=goHome()
                        class="hidden md:flex md:items-center md:flex-row  md:block lg:pr-12 md:pr-6 select-none">
                        <img class="w-16 dark:hidden" src="/logo-black.png">
                        <img class="w-16 hidden dark:block" src="/logo-white.png">
                        <p class="lg:block hidden pl-3 text-text font-semibold text-2xl first-letter:text-3xl">Meme
                            <br>
                            <span class="text-3xl">M</span>useum
                        </p>
                    </div>


                    <a routerLink="/home" (click)=goHome()
                        class="text-text text-xl mr-5 pr-3 pl-3 pt-1 pb-1  hover:font-bold hover:border-none hover:bg-secondary hover:pr-3 hover:pl-3 hover:pt-1 hover:pb-1 hover:rounded-xl"
                        routerLinkActive="active">Top memes</a>
                    <a routerLink="/search" routerLinkActive="active"
                        class="text-text text-xl mr-5 pr-3 pl-3 pt-1 pb-1  hover:font-bold hover:border-none hover:bg-secondary hover:pr-3 hover:pl-3 hover:pt-1 hover:pb-1 hover:rounded-xl">Search</a>
                    @if(isLogged()){
                    <a routerLink="/upload" routerLinkActive="active"
                        class="text-text text-xl mr-5 pr-3 pl-3 pt-1 pb-1  hover:font-bold hover:border-none hover:bg-secondary hover:pr-3 hover:pl-3 hover:pt-1 hover:pb-1 hover:rounded-xl">Carica</a>
                    }
                    @if(isFiltered()){
                    <filterbutton idfilter="filter-navbar"></filterbutton>
                    }

                    <app-darkmode class="pb-1"></app-darkmode>


                </div>
                @if(!isLogged()){
                <div class="bg-bgcontrast hidden md:flex md:items-center">
                    <button (click)="openLogin()" class="text-text text-lg font-semibold hover:text-accent mr-10">Sign
                        in</button>
                    <button (click)="openSignup()"
                        class="text-text text-lg font-semibold border px-4 py-2 rounded-lg  hover:border-accent hover:text-accent">Sign
                        up</button>
                </div>
                }@else{
                <div class="relative md:inline-flex hidden">
                    <div (click)="ChangeProfileMenuState()"
                        class="transition-colors select-none md:flex md:flex-row md:justify-center md:items-center bg-secondary p-2 rounded-full hover:bg-primary hidden">
                        <div class="skeleton flex flex-row justify-center items-center gap-2">
                            <div class="w-10 h-10 rounded-full bg-gray-400 animate-pulse"></div>
                            <div class="w-30 h-8 rounded-full bg-gray-400 animate-pulse"></div>
                        </div>

                        <img (load)="stopLoading($event)"
                            class="w-10 h-10 object-cover rounded-full hidden md:flex md:items-center"
                            [src]="this.profilePic()" onload=" this.nextElementSibling?.classList.remove('hidden')">

                        <p class="px-2 text-text hidden text-xl">{{nickname()}}</p>

                    </div>
                    @if(isProfileMenuActive()){
                    <div role="menu"
                        class="mt-4 mr-3 absolute end-0 top-12 z-auto w-56 divide-y divide-gray-300 overflow-hidden rounded border border-gray-300 bg-bgcontrast shadow-sm dark:divide-gray-700 dark:border-gray-600 ">
                        <div>
                            <a (click)="reload()" routerLink="users/{{this.authservice.getidUser()}}"
                                class="block px-3 py-2 text-sm font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white"
                                role="menuitem">
                                Profilo
                            </a>


                        </div>

                        <button (click)="logout()" type="button"
                            class="block w-full px-3 py-2 text-left text-sm font-medium text-red-700 transition-colors hover:bg-red-100 dark:text-red-600 dark:hover:bg-red-700/35">
                            Log out
                        </button>
                    </div>
                    }
                </div>


                }
                <div class="block flex items-center flex-row md:hidden pr-10 " (click)=goHome()>
                    <img class="w-16 dark:hidden" src="/logo-black.png">
                    <img class="w-16 hidden dark:block" src="/logo-white.png">
                    <h1 class="pl-2 text-text text-xl font-semibold">Meme Museum</h1>
                </div>

                <div (click)="ChangeMenuState()" class="block md:hidden cursor-pointer">
                    <img class="w-9 dark:hidden" src="/menu-icon.svg">
                    <img class="w-9 hidden dark:block" src="/menu-white.svg">
                </div>
            </div>
            @if(isMenuActive()){
            <div class="block md:hidden bg-bgcontrast border-black dark:border-white border-t-2 py-2 pt-6">
                <div class="flex flex-col ">
                    <a routerLink="/home" routerLinkActive="active"
                        class="text-text text-lg font-semibold hover:text-accent mb-5 hover:font-bold hover:text-text hover:border-none hover:bg-secondary hover:pr-3 hover:pl-3 hover:pt-1 hover:pb-1 hover:rounded-xl">Home</a>
                    <a routerLink="/search" routerLinkActive="active"
                        class="text-text text-lg font-semibold hover:text-accent mb-5 hover:font-bold hover:text-text hover:border-none hover:bg-secondary hover:pr-3 hover:pl-3 hover:pt-1 hover:pb-1 hover:rounded-xl">Search</a>
                    @if(isLogged()){
                    <a routerLink="/upload" routerLinkActive="active"
                        class="text-text text-lg font-semibold hover:text-accent hover:font-bold hover:text-text hover:border-none hover:bg-secondary hover:pr-3 hover:pl-3 hover:pt-1 hover:pb-1 hover:rounded-xl">Carica</a>
                    }
                    <div
                        class="flex justify-between items-center mt-5 pt-3 pb-2 border-black dark:border-white border-t-2">
                        <div class="flex flex-row gap-3">
                            @if(isFiltered()){
                            <filterbutton idfilter="filter-menu" class="pt-1"></filterbutton>
                            }
                            <app-darkmode></app-darkmode>
                        </div>

                        <div>
                            @if(!isLogged()){
                            <button (click)="openLogin()"
                                class="text-text text-lg font-semibold hover:text-accent mr-4">Sign
                                in</button>
                            <a (click)="openSignup()"
                                class="text-text text-lg font-semibold border px-4 py-1 rounded-lg hover:border-accent hover:text-accent">Sign
                                up</a>
                            }@else{
                            <div class="relative inline-flex md:hidden">
                                <div (click)="ChangeProfileMenuState()"
                                    class="transition-colors select-none flex flex-row justify-center items-center  bg-secondary rounded-full hover:bg-primary p-2 rounded-full  md:hidden">
                                    <div class="skeleton flex flex-row justify-center items-center gap-2">
                                        <div class="w-10 h-10 rounded-full bg-gray-400 animate-pulse"></div>
                                        <div class="w-30 h-8 rounded-full bg-gray-400 animate-pulse"></div>
                                    </div>
                                    <img (load)="stopLoading($event)"
                                        class="w-10 h-10 object-cover rounded-full hidden md:flex md:items-center hidden"
                                        [src]="this.profilePic()"
                                        onload=" this.nextElementSibling?.classList.remove('hidden')">

                                    <p class=" px-2 text-text hidden text-xl">{{nickname()}}</p>

                                </div>
                                @if(isProfileMenuActive()){
                                <div role="menu"
                                    class="mt-4 mr-3 absolute end-0 top-12 z-auto w-56 divide-y divide-gray-300 overflow-hidden rounded border border-gray-300 bg-bgcontrast shadow-sm dark:divide-gray-700 dark:border-gray-600 ">
                                    <div>
                                        <a (click)="reload()" routerLink="users/{{this.authservice.getidUser()}}"
                                            class="block px-3 py-2 text-sm font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white"
                                            role="menuitem">
                                            Profilo
                                        </a>


                                    </div>

                                    <button (click)="logout()" type="button"
                                        class="block w-full px-3 py-2 text-left text-sm font-medium text-red-700 transition-colors hover:bg-red-100 dark:text-red-600 dark:hover:bg-red-700/35">
                                        Log out
                                    </button>
                                </div>
                                }
                            </div>


                            }
                        </div>

                    </div>
                </div>
            </div>
            }

        </div>
    </div>

</div>

<login (logged)="onLogin()" (gotoSignup)="openSignup()"></login>
<sign-up (gotoLogin)="openLogin()"></sign-up>