<div class="grid grid-flow-row pr-20">
    <div class="flex flex-row items-center justify-start gap-3  pb-12 pt-5">
        <img class="logo" src="/logo-black.png">
        <p>Meme</p>
    </div>
    <ul class="grid grid-flow-col grid-rows-4 gap-4">
        <li class="">
            <img class="menu-icon" src="/fire.svg">
            <p>Home</p>
        </li>
        <li class="">
            <img class="menu-icon" src="/fire.svg">
            <p>nigger</p>
        </li>
        <li class="">
            <img class="menu-icon" src="/fire.svg">
            <p>ernigg</p>
        </li>


    </ul>

    <div class="profile">
        <img class="profile-pic" src="/io.jpg">
        <p>eaadadadadadadadad</p>
    </div>


</div>